<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM.OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - (%F:%L) - %msg%n"/>
        </Console>
        <file name="file" fileName="C:\Users\90538\Desktop\BlogAPI\logs\logs.log">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - (%F:%L) - %msg%n"/>
        </file>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>

    </Loggers>
</Configuration>